/* footer start */ 
footer  {
  a {
    @include color(grey-color);
    @include font($size: 11px);
    
    @include maxResponsive(ipad) {
      @include font($size: 10px);      
    }
  }
}

.footer-top {
  @include background(black-background);
  
  .wrapper {
    padding: 30px 0 24px;
    @include position($position: relative);

    @include maxResponsive(tablet) {
      @include display-flex();
      @include flex-direction(column);
    }
  }

  h5 {
    @include color(white-color);
    @include font($size: 18px, $weight: 700, $text: uppercase);

    @include maxResponsive(ipad) {
      @include font($size: 14px);
    }
  }

  @at-root {
    .top-items {
      @extend %flex;
      gap: 40px;

      @include maxResponsive(large-desktop) {
        gap: 0;
      }

      @include maxResponsive(tablet) {
        padding-bottom: 30px;
        @include justify-content(center);
        gap: 50px;
      }


      @include maxResponsive(largePhone) {
        @include flex-wrap(wrap);
        @include font($textAlign: center);
      }
    }

    .top-list {
      @include flex-basis(20%);

      @include maxResponsive(largePhone) {
        @include flex-basis(100%);
      }
    }

    .contact-items {
      padding: 15px 0 10px;
      margin-left: 3%;
      @extend %flex-column;
      @include font($size: 11px);
      gap: 7px;

      a {
        padding: 0 10px;
        @include position($position: relative);

        &::before {
          @extend %left-icon;
          @include color(orange-color);
        }
      }

      p {
        padding: 0 10px;
        @include position($position: relative);
        @include color(grey-color);
        
        &::before {
          content: "\f3c5";
          @extend %left-icon;
          @include color(orange-color);
        }

        @include maxResponsive(largePhone) {
          @include display(inline-block);
        }
      }
    }

    .quick-items {
      padding: 10px 0;
      margin-left: 3%;
      @extend %flex-column;
      @include font($weight: 500, $text: capitalize);

      li {
        line-height: 1.4;
      }

      a {
        padding: 0 10px;
        @include position($position: relative);
        @include color(grey-color);
        
        &::before {
          content: "\f061";
          @extend %left-icon;
          @include color(orange-color);
        }
        
        @include minResponsive(tablet) {
          &:hover {
            @include color(orange-color);
            text-decoration: underline;
          }
        }
      }
    }
    
    .popular-items {
      @extend .quick-items;
    }

    .footer-social {

      a {
        width: 27px;
        height: 27px;;
        border-radius: 50%;
        @include display(block);
        @include position($position: relative);
        text-indent: -9999px;
        @include background(orange-color);
        @include color(white-color);
        @extend %transition;
        
        @include minResponsive(tablet) {
          &:hover {
            @include background(white-color);
            @include color(orange-color);
            @include transform(scale(1.1));
          }
        }

        &::before {
          @extend %icon;
          @include font($size: 12px);
          text-indent: 0;
        }
      }
    }
    @include onlyIcon($footerIcon);

    .newsletter {
      padding: 54px 58px 16px;
      @include position($position: absolute, $top: 0, $right: 0);
      @include background(orange-color);
      @include color(white-color);
      @include font($textAlign: center);

      @include maxResponsive(tablet) {
        width: 70%;
        min-width: 300px;
        margin: 0 auto;
        @include position($position: static);
      }

      h6 {
        padding-bottom: 8px;
        @include font($size: 18px, $weight: 700, $text: uppercase);
      }
      
      p {
        @include font($size: 10px, $weight: 500);        
      }

      input {
        padding: 15px 10px;
        border: none;
        outline: none;
      }

      @at-root {
        .subscribe-para {
          @include font($size: 12px, $weight: 700, $text: uppercase);
        }

        .company-name {
          @include font($size: 11px, $weight: 500);
        }

        form {
          padding: 10px 0 65px;
          @extend %flex;      
          @include justify-content(center);
        }

        .input-group input {
          border-radius: 3px 0 0 3px;
          @include font($size: 10px);
        }

        .input-control {
          input {
            border-radius: 0 3px 3px 0;
            @include background(black-background);
            @include color(white-color);
            @include font($size: 10px, $weight: 600, $text: uppercase);
            @extend %transition;

            @include minResponsive(tablet) {
              &:hover {
                @include background(grey-color);
                @include color(orange-color);
              }
            }
          }
        }  
      }
    }
  }
}

/* footer bottom start */ 
.footer-bottom {
  padding: 18px 0;
  @include background(bottom-background);

  .wrapper {
    @include position($position: relative);
  }

  p {
    margin-left: 25%;
    @include color(grey-color);
    @include font($size: 10px, $text: capitalize);
    
    span {
      @include color(white-color);
      @include font($weight: 600);
    }

    @include maxResponsive(tablet) {
      margin: 0;
      @include font($textAlign: center)
    }
  }
  @at-root {

    .scroll-top-btn {
      @include position($position: absolute, $bottom: 0, $right: 0);
      cursor: pointer;

      @include maxResponsive(ipad) {
        @include position($right: 5%);
      }

      span {
        @include display(block);
        @include position($position: relative);
        text-indent: -9999px;

        &::before {
          content: "\f062";
          padding: 18px 12px;
          margin-top: 4px;
          @extend %icon;
          @include background(scroll-icon);
          @include color(grey-color);
          text-indent: 0;
        }
      }
    }
  }
}
/* footer bottom end */ 
/* footer end */ 