@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 95%;
  margin: 0 auto;
}

form, .top-items, .trainer-items, .banner-btns, .banner-content, .nav-items, .header-bottom, .social-items, .header-top, .header-contact, header .wrapper, .quick-items, .popular-items, .contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social a, .trainer-items img, .banner-btns a, .header-btn a, .nav-items a, .bar::before,
.bar::after, .bar, .social-items a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bar, .quick-items a::before, .popular-items a::before, .contact-items p::before, .contact-items a::before, .header-contact a::before, .footer-social a::before, .social-items a::before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-social a::before, .social-items a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "FontAwesome";
}

.quick-items a::before, .popular-items a::before, .contact-items p::before, .contact-items a::before, .header-contact a::before {
  position: absolute;
  top: 45%;
  left: 0;
  font-family: "FontAwesome";
}

.quick-items, .popular-items, .contact-items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* header start */
header .wrapper {
  width: 100%;
}
.logo {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.header-content {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}

/* header top start */
.header-contact {
  gap: 10px;
}
.header-contact a {
  padding: 0 10px;
  position: relative;
  color: #000;
  font-size: 11px;
  font-weight: 600;
}
.header-contact a::before {
  color: #FB5B21;
}

.header-mail::before {
  content: "\f0e0";
}

.call-icon::before {
  content: "\f095";
}

.header-top {
  padding: 6px 3.3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #BDBDBF;
}

.social-items {
  gap: 5px;
}
.social-items a {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: block;
  position: relative;
  text-indent: -9999px;
  background: #F4F5F8;
  color: #000;
}
@media only screen and (min-width: 995px) {
  .social-items a:hover {
    color: #FB5B21;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.social-items a::before {
  font-size: 12px;
  text-indent: 0;
}

.facebook::before {
  content: "\f39e";
}

.twitter::before {
  content: "\f099";
}

.linkedin::before {
  content: "\f0e1";
}

.instagram::before {
  content: "\f16d";
}

.youtube::before {
  content: "\f167";
}

/* header top end */
/* header bottom start */
/* hamburger start */
.hamburger {
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  position: relative;
  display: none;
  cursor: pointer;
}

.bar {
  width: 50%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  background: #fff;
  text-indent: -99999px;
}

.bar::before,
.bar::after {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
}

.bar::before {
  top: -6px;
}

.bar::after {
  top: 6px;
}

.hamburger:hover .bar {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger:hover .bar::before {
  -webkit-transform: translateY(6px) rotate(0);
  -ms-transform: translateY(6px) rotate(0);
  transform: translateY(6px) rotate(0);
}

.hamburger:hover .bar::after {
  -webkit-transform: translateY(-6px) rotate(-90deg);
  -ms-transform: translateY(-6px) rotate(-90deg);
  transform: translateY(-6px) rotate(-90deg);
}

/* hamburger end */
.header-bottom {
  padding: 15px 3.3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #222329;
}

nav {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.nav-items {
  gap: 15px;
}
.nav-items a {
  padding: 12px 0 11px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (min-width: 995px) {
  .nav-items a:hover {
    color: #FB5B21;
  }
}

.active-nav a {
  color: #FB5B21;
}

.down-arrow::before {
  content: "\f0dd";
  margin-left: 4px;
  font-family: "FontAwesome";
  float: right;
}

.header-btn a {
  padding: 12px 30px;
  border-radius: 2px;
  background: #FB5B21;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (min-width: 995px) {
  .header-btn a:hover {
    background: #fff;
    color: #FB5B21;
  }
}

/* header bottom end */

/* header end */
/* banner section start */
.banner {
  background: linear-gradient(180deg, rgba(31, 32, 36, 0.78), rgba(31, 32, 36, 0.78)), url("../images/carousel-1.jpg") no-repeat top center;
  background-size: cover;
}
.banner-content {
  padding: 66px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.banner-content h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 800;
  text-transform: uppercase;
}

.banner-btns {
  gap: 13px;
}
.banner-btns a {
  padding: 12px 30px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.orange-btn {
  background: #FB5B21;
  color: #fff;
}
@media only screen and (min-width: 995px) {
  .orange-btn:hover {
    background: #fff;
    color: #FB5B21;
  }
}

.white-btn {
  background: #fff;
  color: #000;
}
@media only screen and (min-width: 995px) {
  .white-btn:hover {
    background: #FB5B21;
    color: #fff;
  }
}

/* banner section end */
/* trainers section start */
.trainers {
  padding: 64px 0 40px;
}
.section-heading {
  text-align: center;
}
.section-heading span {
  color: #FB5B21;
  font-weight: 600;
  text-transform: uppercase;
}
.section-heading h3 {
  color: #222329;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3;
}

.trainer-items {
  padding: 27px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 34px;
}
.trainer-items li {
  border-radius: 3px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 31.2%;
  flex: 1 0 31.2%;
  overflow: hidden;
}
@media only screen and (min-width: 995px) {
  .trainer-items li:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.trainer-items figure {
  position: relative;
}
.trainer-items figcaption {
  width: 100%;
  padding: 24px 0 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(31, 32, 37, 0.9);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.trainer-items h4 {
  font-size: 15px;
  font-weight: 600;
  line-height: 0.8;
}
.trainer-items span {
  color: #BDBDBF;
  font-size: 11px;
  font-weight: 500;
}

/* trainers section end */
/* footer start */
footer a {
  color: #BDBDBF;
  font-size: 12px;
}

.footer-top {
  background: #222329;
}
.footer-top .wrapper {
  padding: 30px 0;
  position: relative;
}
.footer-top h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.top-list {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.contact-items {
  padding: 15px 0;
  margin-left: 3%;
  font-size: 11px;
  gap: 7px;
}
.contact-items a {
  padding: 0 10px;
  position: relative;
}
.contact-items a::before {
  color: #FB5B21;
}
.contact-items p {
  padding: 0 10px;
  position: relative;
  color: #BDBDBF;
}
.contact-items p::before {
  content: "\f3c5";
  color: #FB5B21;
}

.quick-items, .popular-items {
  padding: 12px 0;
  margin-left: 3%;
  text-transform: capitalize;
}
.quick-items a, .popular-items a {
  padding: 0 10px;
  position: relative;
  color: #BDBDBF;
}
.quick-items a::before, .popular-items a::before {
  content: "\f061";
  color: #FB5B21;
}

.footer-social a {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: block;
  position: relative;
  text-indent: -9999px;
  background: #FB5B21;
  color: #fff;
}
@media only screen and (min-width: 995px) {
  .footer-social a:hover {
    background: #fff;
    color: #FB5B21;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.footer-social a::before {
  font-size: 12px;
  text-indent: 0;
}

.twitter::before {
  content: "\f099";
}

.facebook::before {
  content: "\f39e";
}

.linkedin::before {
  content: "\f0e1";
}

.instagram::before {
  content: "\e055";
}

.newsletter {
  padding: 36px 58px;
  position: absolute;
  top: 0;
  right: 0;
  background: #FB5B21;
  color: #fff;
  text-align: center;
}
.newsletter h6 {
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter p {
  font-size: 10px;
  font-weight: 500;
}
.newsletter input {
  padding: 13px;
  border: none;
  outline: none;
}
.input-group input {
  border-radius: 8px 0 0 8px;
  font-size: 10px;
}

/* footer end */

/*# sourceMappingURL=style.css.map */
